<section
  class="md:min-h-screen min-h-full bg-background py-12 px-4 text-center relative overflow-hidden font-body"
>
  <div class="w-full flex justify-center">
    <img
      src="/full-logo.svg"
      alt="Logo completo"
      class="mb-4 mt-2 w-48 h-auto md:w-64 animate-fade-in-down animate-duration-500"
    />
  </div>
  <div class="flex flex-col items-center justify-center">
  <!-- Subtítulo en arco simulado -->
  <p
    class="mt-2 text-base md:text-2xl font-body font-semibold text-primary rotate-[-3deg] animate-fade-in-down animate-duration-700"
  >
    ¿Por qué creen que muchas plantas en San Luis
  </p>
  <!-- Título central -->
  <h1
    class="font-display text-4xl md:text-7xl font-bold leading-tight text-primary rotate-[-3deg] animate-fade-in-down animate-duration-1000"
  >
    <span class="text-primary">TIENEN </span>
    <span class="text-yellow-500 font-stroke italic">FLORES AMARILLAS</span>
    <span class="text-primary">?</span>
  </h1>

  <div class="mt-2">
    <img
      src="/espinillo.svg"
      alt="Flor de espinillo"
      class="mx-auto my-0 w-24 h-auto md:w-64 animate-fade-in-down"
    />
  </div>

  <!-- Información inferior -->
  <div
    class="mt-8 flex flex-row justify-center items-center gap-8 text-lg font-body font-semibold text-primary"
  >
    <span>Junio 2025</span>
    <span
      ><img
        src="/rosenda.webp"
        alt="Logo de la EPA N°1"
        class="mx-auto w-12 h-auto md:w-16 rounded-full"
      /></span
    >
    <span>Sala abejitas</span>
  </div>

  <!-- Escuela -->
  <p class="mt-4 text-sm text-primary font-body">
    EPA N° 1: Maestra Rosenda Quiroga – Nivel Inicial – Sala de 5 años
  </p>

  </div>
  <img
    src="/fire-left.webp"
    alt="Llama decorativa"
    class="absolute bottom-0 left-6 transform -translate-x-1/2 w-24 h-auto md:w-48 animate-bouncing animate-iteration-count-infinite"
  />
  <img
    src="/fire-left.webp"
    alt="Llama decorativa"
    class="absolute bottom-0 left-4 transform -translate-x-1/2 w-24 h-auto md:w-48"
  />
  <span
    class="absolute bottom-2 left-1/2 transform -translate-x-1/2 text-4xl text-primary select-none animate-bouncing animate-duration-slower animate-iteration-count-infinite"
    >&#8964;</span
  >
  <img
    src="/fire-right.webp"
    alt="Llama decorativa"
    class="absolute bottom-0 right-6 transform translate-x-1/2 w-24 h-auto md:w-48 animate-bouncing animate-iteration-count-infinite"
  />
  <img
    src="/fire-right.webp"
    alt="Llama decorativa"
    class="absolute bottom-0 right-4 transform translate-x-1/2 w-24 h-auto md:w-48"
  />
</section>
